
body{
    background-color: #08050f;
    margin: 0;
    padding: 0;
}

h1:hover{
    color: rgb(2, 255, 137);
    transition: 1s;
}

.p1{
    display: flex;
}

.bayc{
    margin-top: 10px;
    height: 110px;
    width: 300px;
}

h1{
    color: rgb(68, 238, 159);
    margin-left: 10px;
    font-size: 50px;
    font-family: 'Bebas Neue', cursive;
}

.ape:hover{
    border: gray 1px;
    border-radius: 10px;
    box-shadow: gray 30px 30px;
    transition: 1s;
}

.ape2:hover{
    border: #fbee97 1px;
    border-radius: 10px;
    box-shadow: #fbee97e0 30px 30px;
    transition: 1s;    
}

.ape3:hover{
    border: rgba(35, 235, 85, 0.623) 1px;
    border-radius: 10px;
    box-shadow: rgba(35, 235, 85, 0.623) 30px 30px;
    transition: 1s;
}

.ape{
    margin-left: 2%;
    margin-bottom: 4%;
    margin-right: 2%;
    width: 300px;
    height: 300px;
}
.ape2{
    margin-right: 2%;
    margin-bottom: 4%;
    margin-left: 2%;
    width: 300px;
    height: 300px;
}

.ape3{
    margin-left: 2%;
    margin-bottom: 4%;
    margin-right: 2%;
    width: 300px;
    height: 300px;
}

.p1{
    color: rgb(202, 236, 109);
    text-align: center;
    font-size: 20px;
    margin-top: 5%;
    margin-right: 2%;
    font-family: 'Bebas Neue', cursive;
}

.p2{
    color: rgb(202, 236, 109);
    text-align: center;
    font-size: 20px;
    margin-top: 5%;
    margin-left: 2%;
    font-family: 'Bebas Neue', cursive;
}

.par2{
    display: flex;
}

.par3{
    display: flex;
}

.nav{
    display: flex;
}

.se1{

}

.se1{
    margin-top: 40px;
    margin-bottom: 50px;
    margin-left: 40px;
    border: 1px rgb(255, 255, 255);
    border-radius: 40px;
    background-color:#d2d2d2;
    padding-right: 100px;
    
}

.u1{
margin-left: 200px;
margin-bottom: 50px;
margin-top: 50px;
border-radius: 20px;
font-size: 100%;
padding-left: 30px;
padding-bottom:10px;
padding-top:10px;
padding-right: 30px;
color: ;
background-color:rgb(68, 238, 159);
}

.u2{
margin-bottom: 50px;
margin-top: 50px;
margin-left: 20px;
margin-right: 20px;
border-radius: 20px;
font-size: 100%;
padding-left: 30px;
padding-bottom:10px;
padding-top:10px;
padding-right: 30px;
background-color:rgb(68, 238, 159);
}

.u3{
margin-bottom: 50px;
margin-top: 50px;
margin-right:20px;
border-radius: 20px;
font-size: 100%;
padding-left: 30px;
padding-bottom:10px;
padding-top:10px;
padding-right: 30px;0px;
background-color:rgb(68, 238, 159);
}

.u1:hover{
    box-shadow: #fbee97 5px 5px;
    transition: 0.5s;
}

.u2:hover{
    box-shadow: #fbee97 5px 5px;
    transition: 0.5s;
}

.u3:hover{
    box-shadow: #fbee97 5px 5px;
    transition: 0.5s;
}

.s1{
    border: 2px black;
    position: relative;
    top: 52px;
    left: 300px;
}

.col1{
    display: flex;
    background-image: url(Capture.PNG);
    background-repeat: no-repeat;
}

.i1{
    width: 300px;
    height: 300px;
    margin-left: 50px;
    margin-right: 30px;
    margin-top: 200px;
    margin-bottom: 30px;
    position: sticky;
    top: 100px; 
    
}

.i2{
    width: 300px;
    height: 300px;
    margin-left: 160px;
    margin-bottom: 50px;
    position: sticky;
    top: 100px;
    
}

.i3{
    width: 300px;
    height: 300px;
    margin-left: 150px;
    margin-top: 200px;
    margin-bottom: 30px;
    position: sticky;
    top: 100px;
}

.line1{
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 50px;
}
.line2{
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 50px;
    margin-top: 20px;

}

.ba1{
    height: 30px;
    position: sticky;
    top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 70px;
    border: 2px antiquewhite;
    background-color: #fbee97;
    border-radius: 10px;
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
    padding: 5px;
    padding-left: 30px;
    padding-right: 30px;   
}

.b1{
    height: 30px;
    position: sticky;
    top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 70px;
    border: 2px antiquewhite;
    background-color: #fbee97;
    border-radius: 10px;
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
    padding: 5px;
    padding-left: 30px;
    padding-right: 30px;

}

.svg1{
    margin-right: 2px;
    margin-top: 10px;
    margin-bottom: 400px;
    position: sticky;
    top: 50px;
}

.svg2{
    margin-right: 2px;
}
