
body{
    background-color: #08050f;
    margin: 0;
    padding: 0;
}

h1:hover{
    color: rgb(2, 255, 137);
    transition: 1s;
}

.p1{
    display: flex;
}

h1{
    color: rgb(68, 238, 159);
    font-size: 100px;
    text-align: center;
    font-family: 'Bebas Neue', cursive;
}

.ape:hover{
    border: gray 1px;
    border-radius: 10px;
    box-shadow: gray 30px 30px;
    transition: 1s;
}

.ape2:hover{
    border: #fbee97 1px;
    border-radius: 10px;
    box-shadow: #fbee97e0 30px 30px;
    transition: 1s;    
}

.ape3:hover{
    border: rgba(35, 235, 85, 0.623) 1px;
    border-radius: 10px;
    box-shadow: rgba(35, 235, 85, 0.623) 30px 30px;
    transition: 1s;
}

.ape{
    margin-left: 2%;
    margin-bottom: 4%;
    margin-right: 2%;
    width: 300px;
    height: 300px;
}
.ape2{
    margin-right: 2%;
    margin-bottom: 4%;
    margin-left: 2%;
    width: 300px;
    height: 300px;
}

.ape3{
    margin-left: 2%;
    margin-bottom: 4%;
    margin-right: 2%;
    width: 300px;
    height: 300px;
}

.p1{
    color: rgb(202, 236, 109);
    text-align: center;
    font-size: 20px;
    margin-top: 5%;
    margin-right: 2%;
    font-family: 'Bebas Neue', cursive;
}

.p2{
    color: rgb(202, 236, 109);
    text-align: center;
    font-size: 20px;
    margin-top: 5%;
    margin-left: 2%;
    font-family: 'Bebas Neue', cursive;
}

.par2{
    display: flex;
}

.par3{
    display: flex;
}

.nav{
    display: flex;
}

.b1{
    height: 30px;
    position: sticky;
    top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 100px;
    border: 2px antiquewhite;
    background-color: #fbee97;
    border-radius: 10px;
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
    padding: 5px;
    padding-left: 30px;
    padding-right: 30px;

}

#b2{
    height: 30px;
    position: sticky;
    top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 100px;
    border: 2px antiquewhite;
    background-color: #fbee97;
    border-radius: 10px;
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
    padding: 5px;
    padding-left: 30px;
    padding-right: 30px;   
}
