
body{
    background-color: #08050f;
    margin: 0;
    padding: 0;
}

h1{
    color: rgb(68, 238, 159);
    margin: 0;
    font-size: 100px;
    text-align: center;
    font-family: 'Bebas Neue', cursive;
}

.ape:hover{
    border: gray 1px;
    border-radius: 10px;
    box-shadow: gray 30px 30px;
    transition: 1s;
}

.ape2:hover{
    border: gray 1px;
    border-radius: 10px;
    box-shadow: gray 30px 30px;
    transition: 1s;    
}

.ape{
    margin-left: 5%;
    margin-bottom: 4%;
    margin-right: 2%;
    width: 300px;
    height: 300px;
}

.p1{
    color: rgb(202, 236, 109);
    text-align: center;
    font-size: 20px;
    margin-top: 5%;
    margin-right: 2%;
    font-family: 'Bebas Neue', cursive;
}v 

.par2{
    display: flex;
}

.par3{
    display: flex;
}

.ape2{
    float: right;
    width: 300px;
    height: 300px;   
}

.p2{
    color: rgb(202, 236, 109);
    text-align: left;
    font-size: 20px;
    margin-top: 5%;
    margin-right: 2%;
    font-family: 'Bebas Neue', cursive;
}

.ape2{
    
}
